<?xml version="1.0" encoding="UTF-8"?>
<svg width="58px" height="58px" viewBox="0 0 58 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>previous</title>
    <defs>
        <circle id="path-1" cx="25" cy="25" r="25"></circle>
        <filter x="-14.0%" y="-10.0%" width="128.0%" height="128.0%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Green-Brier---PDP-Desktop-1" transform="translate(4.000000, -2146.000000)">
            <g id="Group-7" transform="translate(0.000000, 1866.772973)">
                <g id="Group-6" transform="translate(0.000000, 152.227027)">
                    <g id="Group-2" transform="translate(0.000000, 129.000000)">
                        <g id="Oval" opacity="0.597359794">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                            <use fill="#000000" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <polygon id="Path" fill="#EAE4D6" fill-rule="nonzero" points="38 24 16.83 24 22.42 18.41 21 17 13 25 21 33 22.41 31.59 16.83 26 38 26"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>