<?xml version="1.0" encoding="UTF-8"?>
<svg width="68px" height="68px" viewBox="0 0 68 68" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>next</title>
    <defs>
        <circle id="path-1" cx="30" cy="30" r="30"></circle>
        <filter x="-11.7%" y="-8.3%" width="123.3%" height="123.3%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Green-Brier---PDP-Desktop-1" transform="translate(-1293.000000, -2141.000000)">
            <g id="Group-7" transform="translate(0.000000, 1866.772973)">
                <g id="Group-6" transform="translate(0.000000, 152.227027)">
                    <g id="Group-5" transform="translate(1297.000000, 124.000000)">
                        <g id="Oval" opacity="0.597359794">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                            <use fill="#000000" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <polygon id="Path" fill="#EAE4D6" fill-rule="nonzero" transform="translate(30.500000, 30.000000) scale(-1, 1) translate(-25.500000, -35.000000)" points="43 29 21.83 29 27.42 23.41 26 22 18 30 26 38 27.41 36.59 21.83 31 43 31"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>