<div class="grid-bottom waiting tw-relative">&nbsp;</div>
{% schema %}
{
  "name": "Animated border",
  "tag": "section",
  "class": "animated_border",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Animated border"
    }
  ]
}
{% endschema %}